include README.* LICENSE setup* MANIFEST.in requirements.txt
recursive-include tests *
recursive-include phys2bids/data *
recursive-include phys2bids/heuristics *

include versioneer.py
include phys2bids/_version.py
